.bg-black{
    background-color: rgba(16, 8, 24, 0.514);
}

.carousel-caption{
    top: 200px;
}

.bg-green{
    background-color: rgb(13, 13, 136);
    color: whitesmoke;
    font-weight: 600;
    text-align: center;
}

.m-right{
    border: 2px solid #fc03b1;
    border: 2px solid white;
}

.underline{
    width: 100px;
    height: 2px;
    background-color: teal;
}

.bg-light-gray{
    background-color: thistle;
}

.media img{
    max-width: 120px;
    height: auto;
}

.underline-green{
    width: 70px;
    height: 2px;
    background-color: turquoise;
}

.underline-blue{
    width: 70px;
    height: 2px;
    background-color: blue;
}

.underline-black{
    width: 70px;
    height: 2px;
    background-color: black;
}

.card-body{
    text-align: center;
}

.blog .media img{
    max-width: 200px;
    height: auto;
}

#checkout{
    background-image: url(images/makeup-bag.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#payment{
    background: rgb(163, 179, 196);
    margin-top: 80px;
    box-shadow: 1px 1px 60px 10px rgb(126, 173, 204);
    background: rgba(2, 3, 5, 0.2);
    padding: 5px 0 3px 20px;
    border-radius: 7px;
}

#theader{
    background: transparent;
    border: 0px;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    
}

#submit-btn{
    margin-top: 20px;
    font-size: 15px;
    width: 120px;
    border: none;
    padding: 0.5rem;
    border-radius: 2px;
    margin-left: 80px;
    margin-bottom: 20px;
    background: lightblue;
}

#submit-btn:hover{
    background: lightcyan;
}

footer{
    padding-top: 4rem;
}

#scontainer{
    background-image:url(images/brush-chain.jpg) ;
}

.btn-cart{
    background: grey;
    border-radius: 1px;
    padding: 5px 7px 5px 7px;
}

.btn-cart:hover{
    background: rgb(140, 151, 98);
}

.btn:hover{
  color: cornflowerblue;
}

